<div class='row my-auto'>
  <div class='col-12 text-center'>
    <h1>Smooth Move</h1>
    <%= link_to "/auth/google_oauth2", class: 'btn btn-outline-primary' do %>
      <%= image_tag 'btn_google_light_normal_ios.svg', class: 'img-fluid' %>
      <span>Sign in with Google</span>
    <% end %>
  </div>
  <div class='col-12 text-center mt-5'>
    <%= image_tag ('/Destination_NewOrleans_page.jpg'), class: 'img-fluid' %>
  </div>
</div>
