<div class='row my-auto'>
  <div class='col-12 text-center'>
    <h1>Smooth Move</h1>
    <%= link_to "/auth/google_oauth2", class: 'btn btn-outline-primary' do %>
      <%= image_tag 'btn_google_light_normal_ios.svg', class: 'img-fluid' %>
      <span>Sign in with Google</span>
    <% end %>
  </div>
</div>